<template>
  <div>
    <div>{{$route.params.arg}}</div>
    <div>{{name}}</div>
    <div>{{asd}}</div>
    <router-link to="/asd/223">to 223</router-link>
  </div>
</template>

<script>
export default {
  data() {
    return {
      asd: this.$route.params.arg,
    };
  },
  computed: {
    name() {
      return `${this.$route.params.arg}`;
    },
  },
  mounted() {
    console.log('ran lifecycle');
  },
  beforeRouteUpdate(to, from, next) {
    console.log('route updated', to, from, next);
    this.asd = 'foo';
    next();
  },
};
</script>

<style lang="scss">
</style>
