<template>
  <div class="home">
    <slot name="myslot"/>
    <router-view></router-view>
    <router-view name="foo"></router-view>
    <div @click="$_log($event)">asdsad</div>
    <div style="margin-top: -20px;" @click="$_log($event)">asdsad</div>
    <input @keydown.a="$_log('asd')" />
    <div @click="conso">
      <button @click.stop="conso().log('child click')">ok</button>
    </div>
  </div>
</template>

<script>

export default {
  name: 'home',
  components: {},
  props: {
    prop: {
      type: String,
      default: 'asd',
      validator(value) {
        return ['asd', 'kys'].includes(value);
      },
    },
  },
  mounted() {
    console.log(this.$route, this.$router);
  },
};
</script>
