<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link>|
      <router-link to="/about">About</router-link>
    </div>
    {{mGetter(2)}}
    <router-view name="footer" />
    <button @click="foo('asd')">hey('asd')</button>
    <Home>
      <template #myslot>
        <div>myslot</div>
      </template>
    </Home>
  </div>
</template>

<script>
import { mapState, mapGetters, mapActions } from 'vuex';
import Home from './views/Home.vue';

export default {
  data() {
    return {
      data: null,
    };
  },
  computed: {
    ...mapState(['count']),
    ...mapGetters('a', ['mGetter', 'otherGetter']),
  },
  methods: {
    ...mapActions({
      foo: 'a/mAction',
    }),
  },
  components: { Home },
};
</script>

<style lang="scss">
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
